
.DS_Store
Documentation/.~lock.BA-Leander-Gebhardt.odt#
App/ba-project/dist/js/chunk-vendors.ff25dcb9.js.map
App/ba-project/dist/js/.chunk-vendors.ff25dcb9.js.map.icloud
App/ba-project/dist/js/chunk-vendors.ff25dcb9.js.map
Documentation/.BA-Leander-Gebhardt.odt.icloud
Documentation/BA-Leander-Gebhardt.odt
